body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 166, 3);
}

#calculator {
    font-family: sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 310px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(58, 65, 65);
    color: #fff;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #111;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

@media (max-width: 500px) {
    .display {
        font-size: 1.5rem;
        padding: 15px;
    }

    button {
        padding: 10px;
        font-size: 1rem;
    }
}